<%= form_for(@fablepet) do |f| %>
  <% if @fablepet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @fablepet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :curr_element %><br>
    <%= f.select :curr_element, @element_selection_list%>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
