<%= form_for(@fablepet) do |f| %>
  <% if @fablepet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fablepet.errors.count, "error") %> prohibited this fablepet from being created:</h2>

      <ul>
      <% @fablepet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="lineartselector">
  <% basic_species.each do |i|%>
    <%if i == @selected_species %>
      <img src = <%= "/assets/fables/bases/" + String(i) + "/full.png" %> 
      width="100" 
      border="5" 
      img id= <%= String(i)%> 
      >
    <% else %>
      <img src = <%= "/assets/fables/bases/" + String(i) + "/full.png" %> 
      width="100" 
      img id= <%= String(i)%> 
      style="opacity:0.4;filter:alpha(opacity=40)"
      >
    <% end %>
  <% end %>
 </div>
 <div class="field">
    <%= f.label :Nickname %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :unique_name %>
  </div>
 <% basic_elements.each do |i|%>
    <%if i == @selected_element %>
    <img src = <%= "/assets/elements/" + String(i) + ".png"%> 
      width="30" 
      img id= <%= 'e' + String(i)%> 
      >
    <% else %>
    <img src = <%= "/assets/elements/" + String(i) + ".png"%> 
      width="30" 
      img id= <%= 'e' + String(i)%> 
      style="opacity:0.4;filter:alpha(opacity=20)"
      >
    <% end %>
  <% end %>
<br>Element: <%= get_element(@selected_element)%>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
