<%= form_for(@fablepet) do |f| %>
  <% if @fablepet.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fablepet.errors.count, "error") %> prohibited this fablepet from being created:</h2>

      <ul>
      <% @fablepet.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Nickname %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :Name %><br>
    <%= f.text_field :unique_name %>
  </div>
  <div class="field">
    <%= f.label :elements %><br>
    <%= f.text_field :elements %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
