<p id="notice"><%= notice %></p>

<h1>Listing Fablepets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>ID</th>
      <th>Species</th>
      <th>Primary</th>
      <th>Secondary</th>
      <th>Pattern</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @fablepets.each do |fablepet| %>
      <tr>
        <td><%= fablepet.name %></td>
        <td><%= fablepet.unique_name %></td>
        <td><%= fablepet.species %></td>
        <td><%= fablepet.pattern %></td>
        <td><%= fablepet.primary_color %></td>
        <td><%= fablepet.secondary_color %></td>
        <td><%= link_to 'Show', fablepet_path(fablepet.unique_name) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fablepet', new_fablepet_path %>
