<p id="notice"><%= notice %></p>


<img src = <%= @img_string %> >

<p>
  <strong>Name:</strong>
  <%= @fablepet.name %>
</p>

<p>
  <strong>Unique:</strong>
  <%= @fablepet.unique_name %>
</p>

<p>
  <strong>User:</strong>
  <%= @fablepet.username %>
</p>

<p>
  <strong>Species:</strong>
  <%= @fablepet.get_species(@fablepet.species) %>
</p>

<p>
  <strong>Pattern:</strong>
  <%= @fablepet.get_pattern(@fablepet.pattern) %>
</p>

<p>
  <strong>Colors:</strong>
  <%= @fablepet.colors %>
</p>

<%= link_to 'Back', fablepets_path %>
